body{
    background-color: black;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1{
    font-family: fantasy;
    font-size: clamp(1rem, 5vw, 5rem);
    font-weight: bolder;
    line-height: 0.8;
    text-align: center;
    color: antiquewhite;
}