body{
    background-color: black;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h4{
    font-family: Tahoma;
    font-size: 25px;
    font-weight: bolder;
    line-height: 1;
    text-align: center;
    color: aliceblue;
    margin: 3;
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
}

/* Columnas laterales */
.lado {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Columna central */
.centro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
}

.animacion {
  width: 80%;
  height: 80%;
  background: linear-gradient(45deg, #ff1909, #e07275);
  animation: pulse 3s infinite alternate;
  border-radius: 20px;
}


@media (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr 3fr 1fr; /* centro más ancho */
  }

  .centro {
    padding: 1rem;
  }

  .animacion {
    width: 100%;
    height: 60%;
    opacity: 0.7; /* menos distracción */
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }
}


.firework {
    position: absolute;
    width: 5px;
    height: 5px;
    background: radial-gradient(var(--colorfw), transparent);
    border-radius: 50%;
    opacity: 0;
    animation: explode 1.5s ease-out forwards;
}

@keyframes explode {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}